.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px dashed black;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* main section peculiarities */

.peculiarities-list .item {
  display: flex;
  align-items: center;

  /* width: 270px; */

  outline: 1px dashed black;
}
.link {
  text-decoration: none;

  display: flex;
}
